<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get all permission</title>
    <style>
        /* Styles CSS pour la table */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <table>
        <a href="{% url 'deconnexionUser' %}"><input type="button" value="Se deconnecter"></a>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Matricule</th>
            <th>Promotion</th>
            <th>Commandant Promotion</th>
            <th>Motif</th>
            <th>Voire la reponse</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        {% for all in all_permission %}
        <tr>
            <td>{{ all.demandeur.nom }}</td>
            <td>{{ all.demandeur.prenom }}</td>
            <td>{{ all.demandeur.matricule }}</td>
            <td>{{ all.demandeur.promotion }}</td>
            <td>{{ all.demandeur.commandant_promotion }}</td>
            <td>{{ all.motif }}</td>
            <td>
                <a href="{% url 'all_reponse' all.id %}">Reponse</a>
            </td>

            <td>
                <h4><a href="{% url 'update' all.id %}">Modifier le formulaire</a></h4>
            </td>

            <td>
                <h4><a href="{% url 'deletePerm' all.id %}">Supprimer</a></h4>
            </td>

        </tr>
        {% endfor %}
    </table>
</body>

</html>