<!DOCTYPE html>
<html>

<head>
    <title>Description with a Link</title>
</head>

<body style="position: sticky;
            width: 100dvw;
            height: 100dvh;
            margin: 0;
            background: linear-gradient(to bottom right, rgba(53, 109, 248, 0.3) 20%, rgba(161, 253, 161, 0.15));
            overflow: hidden;">
    <h1>Reset password</h1>
    <h3>Votre adresse email: {{email}}</h3>
    <h3>Votre matricule: {{matricule}}</h3>
    <p>Vouis pouvez réinitialiser votre mot de passe en cliquant sur le lien en dessous</p>

    <p>Go to reset password page:</p>
    <p>{{reset_link}}</p>
</body>

</html>